@media (max-width: 1440px) {
  .about__item-small {
  padding: 250px 50px;
  padding-bottom: 50px;
  }

  .about__item-content {
  display: block;
  }

  .about__item-text {
  margin: 0;
  margin-bottom: 20px;
  }

  .header__list-item:not(:last-child) {
  margin-right: 60px;
  }

  .footer__content-right {
  width: 100%;
  }
}

@media (max-width: 1024px) {
  .site-container {
  width: 1024px;
  }

  .header__nav {
  display: none;
  }

  .header__list {
  display: block;
  }

  .header__nav--visible {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  display: block;
  margin-right: 0;
  padding: 39px 50px;
  min-width: 420px;
  min-height: 768px;
  background-color: #ffffff;
  }

  .nav__close {
  display: inline-block;
  margin-bottom: 100px;
  width: 23px;
  height: 23px;
  border: none;
  background-image: url("../img/close.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  }

  .header__list-item {
  margin-right: 0;
  }

  .header__list-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 60px;
  }

  .burger {
  display: block;
  }

  .container {
  padding: 0 50px;
  }

  .header__logo {
  max-width: 150px;
  }

  .header {
  padding-top: 26px;
  padding-bottom: 21px;
  }

  .header__search-btm {
  padding-top: 5px;
  }

  .hero__container {
  height: 669px;
  }

  .hero__title {
  padding: 161px 77px;
  padding-right: 100px;
  padding-bottom: 0px;
  margin-bottom: 16px;
  font-size: 60px;
  line-height: 73px;
  }

  .hero__descr {
  margin-bottom: 58px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.32px;
  }

  .hero__button {
  margin-top: 0;
  padding: 24px 33,5px;
  }

  .about {
  padding-top: 81px;
  padding-bottom: 30px;
  }

  .about__container {
  margin: 0;
  }

  .about__title {
  margin-bottom: 9px;
  }

  .about__items-right {
  margin-left: 0px;
  }
  .about__descr {
  margin-bottom: 62px;
  }

  .about__items {
  flex-wrap: wrap;
  }

  .about__item-big {
  margin-right: 0;
  margin-bottom: 33px;
  width: 100%;
  height: 640px;
  }

  .about__item-content {
  display: flex;
  }

  .about__item-text {
  margin-bottom: 0;
  }

  .about__items-right {
  width: 100%;
  }

  .about__item-small {
  padding: 61px 50px;
  padding-left: 317px;
  padding-right: 100px;
  background-position: 76px 65px;
  }

  .about__item-small:not(:last-child) {
  margin-bottom: 33px;
  }

  .how__container {
  margin: 0;
  }

  .how {
  padding-top: 54px;
  padding-bottom: 35px;
  }

  .how-list {
  margin-bottom: 52px;
  }

  .how__item-1 {
  background-image: url("../img/how__img1024.png");
  background-position: right 40px;
  background-size: 47.3% auto;
  }

  .how__item-2 {
  background-position: right 40px;
  background-repeat: no-repeat;
  background-size: 47.3% 300px;
  }

  .how__item-3 {
  background-position: right 40px;
  background-repeat: no-repeat;
  background-size: 47.3% 300px;
  }

  .how__item-4 {
  background-position: right 40px;
  background-repeat: no-repeat;
  background-size: 47.3% 300px;
  }

  .how__item-text {
  max-width: 47%;
  }

  .how__title-descr {
  padding-top: 28px;
  letter-spacing: 0.2px;
  }

  .how__descr {
  margin-bottom: 0px;
  }

  .how__btns {
  padding-top: 24px;
  margin-bottom: 10px;
  }

  .faq__container {
  margin: 0;
  }

  .faq {
  padding-top: 0;
  padding-bottom: 80px;
  }

  .faq__list {
  margin-top: -15px;
  }

  .faq__list-item {
  max-width: 910px;
  }

  .faq__list-title {
  font-size: 19px;
  max-width: 81%;
  }

  .footer {
  padding-top: 49px;
  }

  .footer__container {
  margin: 0;
  flex-wrap: nowrap;
  }

  .footer__content-left {
  width: 350px;
  }

  .footer__logo {
  padding: 0;
  }

  .footer__list {
  padding-top: 15px;
  padding-left: 0;
  }

  .footer__list-social {
  padding-top: 92px;
  padding-left: 0;
  }

  .footer__content-center {
  width: 541px;
  margin-left: 50px;
  padding-left: 0;
  padding-top: 0;
  }

  .footer__form-input,
  .footer__form-textarea {
  max-width: 541px;
  }

  .footer__btns {
  flex-wrap: wrap;
  margin-top: 30px;
  }

  .footer__btn {
  max-width: 245px;
  padding: 19px 35px;
  }

  .footer__content-right {
  margin-left: 0;
  width: 100px;
  display: none;
  }
}

@media (max-width: 768px) {
  .site-container {
  width: 768px;
  }

  .header {
  padding-top: 9px;
  padding-bottom: 9px;
  }

  .hero__content {
  padding: 159px 40px;
  padding-right: 20px;
  padding-bottom: 115px;
  max-height: 662px;
  }

  .hero__title {
  padding-top:  0;
  padding-left: 0;
  padding-right: 20px;
  font-size: 50px;
  line-height: 61px;
  }

  .hero__descr {
  padding-right: 30px;
  padding-left: 0;
  margin-bottom: 65px;
  font-size: 18px;
  line-height: 20px;
  }

  .hero__button {
  margin-left: 0;
  }

  .about {
  padding-top: 70px;
  }

  .about__descr {
  margin-bottom: 60px;
  }

  .about__item-big {
  height: 650px;
  margin-bottom: 31px;
  }

  .about__item-content {
  padding: 34px 40px;
  }

  .about__item-text {
  max-width: 350px;
  }

  .about__item-small {
  padding-top: 32px;
  padding-left: 169px;
  padding-right: 16px;
  padding-bottom: 31px;
  }

  .about__item-small .about__item-text {
  max-width: none;
  }

  .about__item-bg1 {
  max-height: 235px;
  background-size: 114px 130px;
  background-position: 39px 53px;
  padding-left: 170px;
  padding-top: 35px;
  padding-right: 0px;
  }

  .about__item-bg2 {
  max-height: 235px;
  background-size: 114px 130px;
  background-position: 39px 53px;
  padding-left: 170px;
  padding-top: 35px;
  padding-right: 0px;
  }

  .about__item-text-bg {
  margin: 0;
  margin-right: 0px;
  max-width: 480px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  }

  .how {
  padding-top: 50px;
  }

  .how__list {
  justify-content: space-between;
  margin-bottom: 50px;
  }

  .how__item {
  display: none;
  }

  .how__item--active {
  display: block;
  }

  .how__item-1 {
  background-image: url(../img/how__img768.png);
  background-position: top;
  background-size: 100% ;
  background-repeat: no-repeat;
  }

  .how__item-2 {
  background-size: 100% 300px;
  background-position: top;
  background-repeat: no-repeat;
  }

  .how__item-3 {
  background-size: 100% 300px;
  background-position: top;
  background-repeat: no-repeat;
  }

  .how__item-4 {
  background-size: 100% 300px;
  background-position: top;
  background-repeat: no-repeat;
  }

  .how__item-text {
  max-width: 668px;
  padding-top: 273px;
  margin-bottom: 22px;
  }

  .how__btn-right {
  margin-left: 28px;
  }
  .faq {
  padding-bottom: 70px;
  }

  .faq__title {
  margin-top: 22px;
  }

  .faq__list-item {
  padding: 20px 0;
  margin-top: -18px;
  }

  .faq__list-item svg {
  margin-right: 0px;
  }

  .faq__list-title {
  max-width: 570px;
  font-size: 20px;
  letter-spacing: -0.5px;
  }

  .faq {
  margin-bottom: 0;
  }

  .footer {
  padding-top: 0;
  }

  .footer__container {
  padding-top: 43px;
  margin-top: 0px;
  }

  .footer__content {
  flex-wrap: wrap;
  flex-direction: column-reverse;
  }

  .footer__list {
  display: none;
  }

  .footer__content-center {
  padding-top: 10px;
  margin-left: 0px;
  }

  .footer__btns {
  margin-top: 26px;
  }

  .footer__logo {
  padding-top: 50px;
  padding-left: 0px;
  }

  .footer__list-social {
  padding-top: 13px;
  padding-bottom: 50px;
  }

  @media (max-width: 320px) {
  .site-container {
  width: 320px;
  }

  .container {
  margin: 0;
  padding: 0 15px;
  }

  .header-container {
  padding: 0 15px;
  max-width: 320px;
  height: 69px;
  }

  .header__logo {
   padding-top: 0px;
  width: 110px;
  height: 25px;
  margin-bottom: 8px;
  }

  .header__search-btm {
  padding-top: 16px;
  margin-bottom: 8px;
  }

  .header__nav--visible {
  padding: 23px 15px;
  min-width: auto;
  width: 100%;
  min-height: 377px;
  }

  .header__burger {
  margin-top: 0px;
  }

  .hero .hero__container {
  height: 308px;
  }

  .hero__content {
  position: relative;
  max-width: 320px;
  margin: 0;
  padding: 0;
  }

  .hero__title {
  padding-top: 60px;
  padding-left: 22px;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  }

  .hero__descr{
  margin: 0;
  padding-top: 7.5px;
  padding-left: 22px;
  padding-right: 21px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  }

  .hero__button {
  width: 162px;
  height: 40px;
  margin: 34px 64px 60px 64px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  padding: 0;
  }

  .about {
  padding-top: 60px;
  }

  .about__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  }

  .about__descr {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 28px;
  }

  .about__item-big {
  padding-top: 208px;
  height: auto;
  background-size: 100% 200px;
  background-position: top;
  }

  .about__item-content {
  display: block;
  background-color: transparent;
  padding: 0;
  }

  .about__item-text {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #333;
  }

  .about__item-btn {
  padding: 9px 41px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--focus-color);
  }

  .about__item-bg1 {
  background-image: url("../img/about__2_320.svg");
  }

  .about__item-bg2 {
  background-image: url("../img/about__3_320.svg");
  }

  .about__item-small {
  padding: 0;
  padding-top: 62px;
  border: none;
  background-size: 64px 49px;
  background-position: left top;
  }

  .about__item-small:not(:last-child) {
  margin-bottom: 47px;
  }

  .about-item__subtitle {
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  }

  .about-item--small:not(:last-child) {
  margin-bottom: 31px;
  }

  .about__item-text-bg {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  }

  .about__item-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  }

  .how {
  padding-bottom: 0;
  }

  .how__container {
  margin-top: 20px;
  padding-right: 14px;
  }

  .how__list-item:not(:last-child) {
  margin: 0;
  }

  .how__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  }

  .how__list {
  padding-top: 23px;
  margin-bottom: 16px;
  }

  .how__list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  }

  .how__item {
  display: none;
  }

  .how__item--active {
  display: block;
  }

  .how__item-1 {
  background-size: 100% 160px;
  }

  .how__item-2 {
  background-size: 100% 160px;
  background-position: center 1px;
  background-repeat: no-repeat;
  }

  .how__item-3 {
  background-size: 100% 160px;
  background-position: center 1px;
  background-repeat: no-repeat;
  }

  .how__item-4 {
  background-size: 100% 160px;
  background-position: center 1px;
  background-repeat: no-repeat;
  }

  .how__item-text {
  padding-top: 129.85px;
  }

  .how__title-descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  }

  .how__descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  }

  .how__btns {
  display: flex;
  padding-top: 16px;
  }

  .how__btn-left {
  width: 162px;
  height: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  }

  .how__btn-right {
  margin-left: 10px;
  width: 118px;
  height: 40px;
  padding: 11px 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  }

  .faq {
  padding-bottom: 0;
  }

  .faq__title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  }

  .faq__list-title {
  max-width: 245px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  }

  .faq__list-item svg {
  width: 30px;
  height: 30px;
  }

  .faq__list-item svg::before {
  width: 18px;
  }

  .faq__list-item svg::after {
  height: 18px;
  }

  .faq__list-item {
  padding: 16px 0;
  margin-top: 0px;
  }

  .faq__list-item svg {
  margin-top: -16px;
  margin-right: -1px;
  }

  .footer {
  margin-top: 56px;
  padding-bottom: 28px;
  }

  .footer__content-center-title {
  padding-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  }

  .footer__title {
  margin-bottom: 22px;
  }

  .footer__form-input {
  margin-top: 22px;
  max-width: 290px;
  }

  .footer__form-input::placeholder {
  padding-left: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  }

  .footer__form-textarea {
  max-width: 290px;
  }

  .footer__form-textarea::placeholder {
  padding-left: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  }

  .footer__btns {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 290px;
  margin-top: 24px;
  margin-left: 10px;
  }

  .footer__btn {
  width: 180px;
  height: 40px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  padding: 12px 24px;

  }

  .custom-checkbox {
  margin-left: -20px;
  padding-bottom: 16px;
  border-bottom: 1px solid  #595959;
  }

  .footer__logo {
   margin: 0;
   max-width: 130px;
   padding-top: 16px;
   margin-left: 80px;
   margin-bottom: 13px;
  }

  .footer__list-social {
  margin: 0;
  padding-top: 0;
  padding-left: 70px;
  }

  .footer__list-social-item:not(:last-child) {
  margin-right: 16px;
  }

  .mysvg {
  width: 40px;
  height: 40px;
  }
}
